:root {
    --bodyBackgroundColor: #f5f5e6;
    --textColor: #3e3e3e;
    --headerBackgroundColor: #8aec6c;
    --sectionBorderColor: #668f4f;
    --navigationMenuOptionColor: #1f7e01;
    --navigationMenuOptionColorHover: #162c03;
    --toggleIndexLinkColor: #853d25;
    --toggleIndexLinkHover: #555424;
    --index_display: none;
    --index_width: 290px;
    --articleSessionBackgroundColor: #ededda;
    --slideBarColor: #c0d9a7;
    --slideBarHover: #aac96d;
    --recommendedCardBackgroundColor: #fffbea;
    --recommendedCardInfs: #8c8c8c;
    --recommendedCardTitle: #222222;
    --bodyShadow: rgba(0, 0, 0, 0.5);
    --bodyShadowHover: rgba(0, 0, 0);
    --cardUserName: #5d3a1a;
    --cardTimestamp: #7a6652;
    --footerBackgroundColor: #99bb33;
}

:root:has(#toggleModeButton:checked) {
    --bodyBackgroundColor: #1e2b1b;
    --textColor: #f1faea;
    --headerBackgroundColor: #151d13;
    --sectionBorderColor: #6c9a5e;
    --navigationMenuOptionColor: #c1fdb3;
    --navigationMenuOptionColorHover: #8cff52;
    --toggleIndexLinkColor: #a4d07b;
    --toggleIndexLinkHover: #d9d40c;
    --articleSessionBackgroundColor: #22301f;
    --slideBarColor: #4e8849;
    --slideBarHover: #668f4f;
    --recommendedCardBackgroundColor: #2a3827;
    --recommendedCardInfs: #aaaaaa;
    --recommendedCardTitle: #eeeeee;
    --cardUserName: #cec795;
    --cardTimestamp: #c3c7b2;
    --footerBackgroundColor: #314b2d;
}

:root:has(#toggleIndexButton:checked) {
    --index_display: flex;
    --index_width: 40%;
}

html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    transition: color 0.4s ease, background-color 0.4s ease;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bodyBackgroundColor);
    color: var(--textColor);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

h3 {
    margin-block-start: 0px
}

.header {
    display: flex;
    background-color: var(--headerBackgroundColor);
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 38px;
    font-weight: bold;
    height: 110px;
    padding-left: 24px;
    border-bottom: 10px var(--sectionBorderColor) solid;
}

.logoImageLink {
    height: 81px;
}

.logoImage {
    width: 162px;
    height: 81px;
}

.navigationMenu {
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.navigationMenuOption {
    color: var(--navigationMenuOptionColor);
    text-decoration: none;
}

.navigationMenuOption:hover {
    color: var(--navigationMenuOptionColorHover);
}

.toggleMode {
    position: relative;
    width: 60px;
    height: 34px;
    border: 3px var(--sectionBorderColor) solid;
    border-radius: 34px;
    margin: 0px 4% 0px 78px;
}

.toggleMode input {
    display: none;
}

.toggleMode .toggleMode-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--headerBackgroundColor);
    border-radius: 34px;
    transition: .4s;
}

.toggleMode .toggleMode-btn:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--sectionBorderColor);
    border-radius: 50%;
    transition: .4s;
}

input:checked+.toggleMode-btn {
    background-color: var(--bodyBackgroundColor);
}

input:checked+.toggleMode-btn:before {
    transform: translateX(26px);
}

.contentCentralTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contentCentralTitle h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 50px;
}

.contentTitleImage {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 613px;
    align-items: center;
    margin: 20px auto 40px auto;
}

.contentTitleImage img {
    width: 800px;
    height: 600px;
    border-radius: 40px;
}

.contentToggleIndex label {
    font-weight: 400;
}

.contentToggleIndex {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 20px 20% 40px 18%;
    width: var(--index_width);
    border: 1px solid var(--sectionBorderColor);
}

.toggleIndexButton {
    display: none;
}

.contentToggleIndex h5 {
    margin: 15px auto;
}

.contentToggleIndex h5:has(#toggleIndexButton:checked) {
    margin: 15px auto 20px auto;
}

.contentToggleIndex label,
.contentToggleIndex a {
    text-decoration: none;
    color: var(--toggleIndexLinkColor);
    cursor: pointer;
}

.contentToggleIndex a:hover,
.textBlock a:hover,
.contentToggleIndex label:hover {
    color: var(--toggleIndexLinkHover);
}

.contentToggleIndex ul {
    list-style-type: none;
    display: var(--index_display);
    flex-direction: column;
}

.listIndexItems {
    padding: 0px 0px 0px 40px;
    font-size: 15px;
}

.listIndexItems ul {
    padding: 0px 0px 0px 20px;
}

.listIndexItems li {
    padding: 0px 0px 10px 0px;
}

.contentArticleSession {
    background-color: var(--articleSessionBackgroundColor);
    width: 1000px;
    margin: 0 auto;
    padding: 26px 0px;
    border-radius: 30px;
}

.contentArticleText {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 20px auto 40px auto;
    width: 80%
}

.subTitle {
    font-size: 26px;
    margin-bottom: 25px;
}

.contentArticleText a {
    text-decoration: none;
    color: var(--toggleIndexLinkColor);
}

.articleText {
    margin: 8px 0;
    text-indent: 30px;
    padding-left: 10px;
}

.contentArticleImage {
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 458px;
    align-items: center;
    margin: 20px auto 40px auto;
}

.articleImage {
    width: 720px;
    height: 450px;
    border-radius: 40px;
}

.articleImageText, .articleSliderText, .titleImageText {
    margin: 2px auto 0px;
    font-size: 10px;
}

.contentArticleSlide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto 30px auto;
}

.articleSlider {
    width: 720px;
    height: 450px;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    width: 300%;
    height: 100%;
}

.contentArticleSlide .articleSlider img {
    height: 100%;
    width: 100%;
}

.sliderInput {
    display: none;
}
@keyframes slideshow1 {
    0%, 16.66% {
        margin-left: 0%;
    }

    33.33%, 49.99% {
        margin-left: -33.33%;
    }

    66.66%, 83.32% {
        margin-left: -66.66%;
    }

    100% {
        margin-left: 0%;
    }
}

@keyframes slideshow2 {
    0%, 16.66% {
        margin-left: -33.33%;
    }

    33.33%, 49.99% {
        margin-left: -66.66%;
    }

    66.66%, 83.32% {
        margin-left: 0%;
    }

    100% {
        margin-left: -33.33%;
    }
}


@keyframes slideshow3 {
    0%, 16.66% {
        margin-left: -66.66%;
    }

    33.33%, 49.99% {
        margin-left: 0%;
    }

    66.66%, 83.32% {
        margin-left: -33.33%;
    }

    100% {
        margin-left: -66.66%;
    }
}

#slide1:checked~.s1 {
    animation: slideshow1 20s infinite;
    position: relative;
}

#slide2:checked~.s1 {
    animation: slideshow2 20s infinite;
    position: relative;
}

#slide3:checked~.s1 {
    animation: slideshow3 20s infinite;
    position: relative;
}

.slideshow {
    width: 33.33%;
    transition: .4s;
}

.sliderNavigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.sliderBar {
    width: 70px;
    height: 11px;
    border: 2px solid var(--slideBarColor);
    border-radius: 25px;
    margin: 2%;
}

.sliderBar:hover {
    background-color: var(--slideBarHover);
}

.contentRecommendedSession, .contentCommentSession {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 65%
}

.contentRecommendedSession {
    margin: 20px auto 30px;
}

.contentRecommendedSession h2, .contentCommentSession h2 {
    margin-bottom: 15px;
}

.horizontalLine {
    height: 1px; 
    width: 100%; 
    background-color: var(--sectionBorderColor); 
    margin-bottom: 20px;
}

.contentRecommendedCard {
    display: flex;
    width: 700px;
    margin: 15px;
    background-color: var(--recommendedCardBackgroundColor);
    border-radius: 8px;
    box-shadow: 0 3px 6px var(--bodyShadow);
    transition: box-shadow .4s ease;
    overflow: hidden;
}

.contentRecommendedCard a {
    display: flex;
    text-decoration: none;
}

.recommendedCard {
    flex: 1;
    padding: 20px;
}

.contentRecommendedCard:hover {
    box-shadow: 0 4px 12px var(--bodyShadowHover);
}

.recommendedCardCategory {
    font-size: 12px;
    color: var(--recommendedCardInfs);
    font-weight: bold;
    margin-bottom: 10px;
}

.recommendedCardTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--recommendedCardTitle);
}

.recommendedCardDescription {
    color: var(--textColor);
    margin-bottom: 20px;
}

.recommendedCardReadMore {
    font-size: 12px;
    color: var(--recommendedCardInfs);
    font-weight: bold;
    width: 50px;
    cursor: pointer;
}

.recommendedCardImage {
    width: 200px;
    object-fit: cover;
}

.contentCommentSession {
    margin: 10px auto 40px auto;
}

.commentAmount {
    font-size: 16px;
    margin-top: 0px;
}

.contentCommentCard {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 15px;
    width: 800px;
    font-family: Arial, sans-serif;
}

.commentCardUserAvatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.commentCard {
    flex: 1;
}

.commentCardHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.commentCardUserName {
    font-weight: bold;
    color: var(--cardUserName);
}

.commentCardTimestamp {
    font-size: 12px;
    color: var(--cardTimestamp);
}

.commentCardText {
    margin: 0;
    font-size: 14px;
    text-indent: 18px;
}

.footer {
    border-top: 10px var(--sectionBorderColor) solid;
    background-color: var(--footerBackgroundColor);
    transition: background-color .4s ease;
    padding: 5px 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer a {
    text-decoration: none;
    color: var(--textColor);
}

.contentBlogAbout {
    width: 300px;
    margin: 20px;
}

.contentBlogAbout h3 {
    margin-bottom: 10px;
}

.contentBlogAbout p {
    line-height: 1.5;
}

.contentArticleShare {
    display: flex;
    justify-content: center;
    width: 170px;
}

.contentArticleShare ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.contentArticleShare ul li {
    list-style-type: none;
    display: block;
    margin-right: 14px;
    padding: 10px;
}

.shareItem {
    width: 10px;
    height: 10px;
}

.shareLabel {
    height: 10px;
    width: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shareImage {
    width: 20px;
    height: 20px;
}

.contentBlogInformation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 20px 20px;
    width: 100%;
    font-size: 14px;
}

.address {
    margin: 0;
}

.copyright {
    margin: 0;
}

@media (max-width: 780px) {

    :root {
        --index_width: 290px;
    }

    :root:has(#toggleIndexButton:checked) {
        --index_width: 290px;
        --index_display: flex;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px 7px;
        width: auto;
        height: auto;
        font-size: 22px;
    }

    .header .logoImage {
        width: 60px; 
        height: auto;
        margin-right: 8px;
    }

    .navigationMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        font-size: 16px;
        margin: 0;
    }

    .toggleMode {
        margin-left: 10px;
        margin-right: 0;
    }

    .contentCentralTitle h2 {
        font-size: 28px;
        margin: 30px 10px;
    }

    .contentTitleImage,
    .contentArticleImage,
    .contentArticleSlide {
        width: 90%;
        height: auto;
        margin: 20px auto;
    }

    .contentTitleImage img,
    .articleImage,
    .articleSlider {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    .contentToggleIndex {
        margin: auto;
    }

    .listIndexItems {
        padding-left: 10px;
        padding-right: 10px;
    }

    .contentArticleSession {
        width: 90%;
        padding: 10px;
        margin: 20px auto 40px auto;
    }

    .contentArticleText {
        width: 90%;
        font-size: 16px;
    }

    .subTitle {
        font-size: 22px;
    }

    .articleText {
        text-indent: 15px;
        padding-left: 5px;
    }

    .contentRecommendedSession,
    .contentCommentSession {
        width: 90%;
    }

    .contentRecommendedCard {
        border-radius: 8px;
        width: 100%;
        margin-left: 0px;
    }

    .contentRecommendedCard a {
        display: flex;
        flex-direction: column;
    }

    .recommendedCardImage {
        width: 100%;
        height: 200px;
    }

    .contentCommentCard {
        width: 100%;
        margin: 15px 0px;
    }

    .commentCardUserAvatar {
        width: 40px;
        height: 40px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
    }

    .contentBlogAbout {
        width: auto;
        margin-bottom: 30px;
    }

    .contentArticleShare ul {
        flex-direction: row;
    }

    .contentArticleShare ul li {
        padding: 0px;
    }

    .shareLabel {
        width: 30px;
        height: 40px;
    }

    .shareImage {
        width: 20px;
        height: 20px;
    }


    .footer .logoImage {
        width: 55%; 
    }

    .contentBlogInformation {
        flex-direction: column;
        align-items: initial;
        margin: 0px 0px 20px;
    }

    .address, .copyright{
        margin-left: 20px;
    }
}
