:root {
    --toggleIndexLinkColor: #934126;
    --toggleIndexLinkHover: #270a0a;
    --indexDisplay: none;
    --indexWidth: 290px;
    --articleSectionBackgroundColor: #ededda;
}

:root:has(#toggleModeButton:checked) {
    --toggleIndexLinkColor: #a4d07b;
    --toggleIndexLinkHover: #d9d40c;
    --articleSectionBackgroundColor: #22301f;
}

:root:has(#toggleIndexButton:checked) {
    --indexDisplay: flex;
    --indexWidth: 40%;
}

h3 {
    margin-block-start: 0px
}

.contentCentralTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contentCentralTitle h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0px 10px 0px;
}

.contentTitleImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 40px auto;
}

.titleImage {
    width: 69%;
}

.contentToggleIndex {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 20px 20% 40px 18%;
    width: var(--indexWidth);
    border: 1px solid var(--sectionBorderColor);
}

.contentToggleIndex h5 {
    margin: 15px auto;
}

.contentToggleIndex h5:has(#toggleIndexButton:checked) {
    margin: 15px auto 20px auto;
}

.contentToggleIndex label {
    font-weight: 400;
}

.toggleIndexButton {
    display: none;
}

.contentToggleIndex label, 
.listIndexItems,
.listIndexItems a {
    text-decoration: none;
    color: var(--toggleIndexLinkColor);
    cursor: pointer;
}

.listIndexItems a:hover,
.textBlock a:hover,
.contentToggleIndex label:hover {
    color: var(--toggleIndexLinkHover);
}

.contentToggleIndex ul {
    display: var(--indexDisplay);
    flex-direction: column;
    cursor: default;
}

.listIndexItems {
    font-size: 15px;
    padding-left: 40px;
}

.listIndexItems li {
    padding: 0 0 10px 0;
    list-style: none;
}

.listIndexItems ul {
    padding-left: 20px;
}

.contentArticleSection {
    background-color: var(--articleSectionBackgroundColor);
    width: 1000px;
    margin: 40px auto;
    padding: 26px 0px;
    border-radius: 30px;
}

.contentArticleText {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 20px auto 40px auto;
    width: 80%
}

.contentArticleText a {
    text-decoration: none;
    color: var(--toggleIndexLinkColor);
}

.subTitle {
    font-size: 26px;
    margin-bottom: 25px;
}

.articleText {
    margin: 8px 0;
    text-indent: 30px;
    padding-left: 10px;
}

.contentArticleImage {
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 458px;
    align-items: center;
    margin: 20px auto 40px auto;
}

.articleImage {
    width: 720px;
    height: 450px;
    border-radius: 40px;
}

.articleImageText, .titleImageText {
    margin: 2px auto 0px;
    font-size: 10px;
}

@media (max-width: 1100px) {
    :root {
        --indexWidth: 290px;
    }

    :root:has(#toggleIndexButton:checked) {
        --indexWidth: 290px;
        --indexDisplay: flex;
    }

    .contentCentralTitle h2 {
        font-size: 28px;
        margin: 30px 10px;
    }

    .contentTitleImage,
    .contentArticleImage {
        width: 90%;
        height: auto;
        margin: 20px auto;
    }

    .titleImage,
    .articleImage {
        width: 90%;
        height: auto;
        border-radius: 20px;
    }

    .contentToggleIndex {
        margin: auto;
    }

    .listIndexItems {
        padding-left: 10px;
    }

    .contentArticleSection {
        width: 90%;
        padding: 10px;
        margin: 20px auto 40px auto;
    }

    .contentArticleText {
        width: 90%;
        font-size: 16px;
    }

    .subTitle {
        font-size: 22px;
    }

    .articleText {
        text-indent: 15px;
        padding-left: 5px;
    }
}